{% extends 'store/main.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/product.css' %}" />
<main class="container">
  <!-- Left Column / products Image -->
  <div class="left-column">
    <img src="{{product.imageURL}}" alt="" />
  </div>
  <!-- Right Column -->
  <div class="right-column">
    <!-- Product Description -->
    <div class="product-description">
      <span>{{product.name}}</span>
      <h1>{{product.name}}</h1>
      <p>
        {{product.description}}
      </p>
    </div>
    <!-- Product Pricing -->
    <div class="product-price">
      <span>${{product.price|floatformat:2}}</span>
      <a href="#" class="cart-btn"
        ><i data-product={{product.id}} data-action="add" class="fas fa-shopping-cart update-cart">Add to cart</i></a
      >
    </div>
  </div>
</main>
{% endblock %}
